html{
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0s, color 0s;
}

/*header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}*/
/********** header **********/
.banner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.banner h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/********** footer **********/
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;

    position: fixed;
    bottom: 0;
    width: 100%;

}

footer p {
    margin: 0;
}

/********** body themes **********/
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    transition: background-color 0s, color 0s;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}



body.light-theme {
    background-color: white;
    color: black;
}

body.dark-theme {
    background-color: black;
    color: white;
}

body.dark-theme label{
    color: darkgray;
}

#theme{
    position: fixed;
    top: 80px;
    right: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

/********** tags_menu **********/
.tags-menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

/********** All movies page **********/
.movies-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    width: max-content;
    height: 600px;
    border-top: 1px solid white;
    position: relative;
}

.movie-card {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: transparent;
    transition: transform 0.2s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-poster img {
    width: 100%;
    height: 450px;
    display: block;
}

.movie-details {
    display: none;
    justify-content: center;
    position: absolute;
    width: 300px;
    height: 450px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
}

.movie-details h3 {
    margin-top: 0;
}

.movie-synopsis {
    font-size: 14px;
    color: wheat;
}

.movie-producer, .movie-actors, .movie-tags, .movie-status {
    font-size: 14px;
    margin: 5px 0;
}

.movie-actors, .movie-producer, h3{
    color: antiquewhite;
}

.movie-tags {
    color: dodgerblue;
}

.movie-status {
    font-weight: bold;
    color: forestgreen;
}

.slider-container {
    overflow-x: auto;
    position: relative;
}

/********** peoples page **********/
.peoples-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.people-card, .people-details {
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
    background-color: transparent;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.people-card:hover, .people-details:hover {
    transform: scale(1.05);
}

.people-image img {
    width: 100%;
    display: block;
}

.people-name {
    padding: 10px;
    text-align: center;
}

.people-info {
    padding: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}

.people-info p {
    margin: 5px 0;
}

/********** validation error **********/
.space{
    padding-top: 10px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/********** Form **********/
form h2 { text-align: center; }

/********** Login Form **********/
.login{
    padding-top: 250px;
}

.login-form {
    max-width: 20vw;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-form-submit {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

/********** Add Movie Form **********/
.add-movie-form {
    max-width: 30vw;
    margin-top: 1.5vw;
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: 20px;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#posters-preview {
    display: flex;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#posters-preview-apply {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    justify-content: center;
    align-items: center;
}

#posters-preview-apply img {
    /* L'image est affichée avec le ratio d'une affiche de film (27:40).
    Si l'image ne respecte pas ce ratio, elle sera rognée. */
    width: 25vw;
    height: 37.5vw;
    object-fit: cover;
    border-radius: 20px;
}

#remove-poster-btn {
    margin-left: 5px;
    height: 30px;
    width: 30px;
}

#synopsis {
    height: 100px;
}

#category {
    /* organisation des éléments en 3 colonnes */
    column-count: 3;
    column-gap: 20px;
}

.remove-btn {
    height: 40px;
    width: 40px;
}

.login-form-submit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
/********** movie details page **********/
.m_details{
    position: absolute;
    width: max-content;
    height: max-content;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
}
.movie-poster{
    width: 300px;
}

/********** people details page **********/
.producer-details{
    position: absolute;
    width: max-content;
    height: max-content;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
}
