html{
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 1s, color 1s;

}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.banner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.banner h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    transition: background-color 1s, color 1s;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0;
}

body.light-theme {
    background-color: white;
    color: black;
}

body.dark-theme {
    background-color: black;
    color: white;
}

#theme{
    position: fixed;
    top: 80px;
    right: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.tags-menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.movies-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    width: max-content;
    height: 600px;
    border-top: 1px solid white;
    position: relative;
}

.movie-card {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: transparent;
    transition: transform 0.2s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-poster img {
    width: 100%;
    height: 450px;
    display: block;
}

.movie-details {
    display: none;
    justify-content: center;
    position: absolute;
    width: 300px;
    height: 450px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
}

.movie-details h3 {
    margin-top: 0;
}

.movie-synopsis {
    font-size: 14px;
    color: wheat;
}

.movie-producer, .movie-actors, .movie-tags, .movie-status {
    font-size: 14px;
    margin: 5px 0;
}

.movie-actors, .movie-producer, h3{
    color: antiquewhite;
}

.movie-tags {
    color: dodgerblue;
}

.movie-status {
    font-weight: bold;
    color: forestgreen;
}

.slider-container {
    overflow-x: auto;
    position: relative;
}
.peoples-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.people-card, .people-details {
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
    background-color: transparent;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.people-card:hover, .people-details:hover {
    transform: scale(1.05);
}

.people-image img {
    width: 100%;
    display: block;
}

.people-name {
    padding: 10px;
    text-align: center;
}

.people-info {
    padding: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}

.people-info p {
    margin: 5px 0;
}
body.dark-theme label{
    color: darkgray;
}

.login{
   padding-top: 250px;
}
.space{
    padding-top: 10px;
}